.content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.content__item {

}

.contentItems {
    margin-right: 5px;

}

.contentHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background: #E0E2DB;
    max-width: 500px;
}

.contentBody {
    padding: 15px;
    background: #E6AF2E;
    margin-bottom: 25px;
}

.flagContent {
    display: flex;
}

.flagImg {
    width: 30px;
    height: 20px;
    margin-left: 5px;
}

#select {
    max-width: 115px;
}