.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 900px;
}

.contentItems {
    margin-right: 5px;
}

.contentBtn {
    margin-left: auto;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 20px;
}

.contentHeader {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background: #E0E2DB;
}

.contentBody {
    padding: 15px;
    background: #E6AF2E;
    margin-bottom: 25px;
}

.flagContent {
    display: flex;
}

.flagImg {
    width: 30px;
    height: 20px;
    margin-left: 5px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

#select {
    width: 120px;
    height: 25px;
}

#dateInput {
    margin: 51px 0 0 22px;
    width: 115px;
    height: 25px;
}

#saveBtn {
    background: #F4A259;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    width: 115px;
    height: 45px;
    margin-left: auto;
}

#textArea {
    margin: 0 25px;
    width: 350px;
    height: 100px;
    resize: none;
}

#userForm {
    display: flex;
}

