.container {
    display: flex;
    justify-content: center;
    position: relative;
}

textarea {
    resize: none;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

#login {
    width: 220px;
    height: 30px;
}

.userButtons {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.userButtons {
    margin-top: 20px;
}

.btns {
    margin-right: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    align-content: center;
    color: white;
    background: #4137d9;
    border: 1px solid #4137d9;
    border-radius: 5px;
    cursor: pointer;
}

#textBlock {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    margin-left: 50px;
    padding: 10px;
    transform: translate(0%, 22%) scale(0.8);
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}