.container {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}

.id {
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    align-content: center;
}

.userTitle {
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    align-content: center;
}

.userStatus {
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    align-content: center;
}

.todosBody {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}

.todosItems {
    margin-right: 10px;
}