.content {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #BFEDEF;
    border-radius: 5px;
    padding: 10px;
    max-width: 670px;
}

.contentBtn {
    margin-left: auto;
}

.doneBtn {
    width: 60px;
    height: 30px;
    border: none;
    background: #BFEDEF;
    border-radius: 5px;
    cursor: pointer;
}

.doneBtn:hover {
    background: #4fe2e9;
}

.cancelBtn {
    width: 60px;
    height: 30px;
    border: none;
    background: #BFEDEF;
    border-radius: 5px;
    cursor: pointer;
}

.cancelBtn:hover {
    background: #4fe2e9;
}

.todoList {
    margin: 20px 0;
}

.doneList {
    margin: 20px 0;
}

#submitBtn {
    margin-left: 40px;
    width: 80px;
    height: 30px;
    border: none;
    background: #BFEDEF;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn:hover {
    background: #4fe2e9;
}

#taskSelect {
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
}